@import url('https://fonts.googleapis.com/css?family=Roboto:400,800');

body{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
    background-image: url("./../assets/pattern.PNG");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.title{
    margin: auto;
    top: 2vh;
    left: 80vh;
    position: absolute;
}

.Home{
    position: absolute;
    top: 10vh;
    left: 0;
}

.Pantry{
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 1vw; 
    flex-direction: column;
    align-items: center;
    display: flex;
    box-shadow: 0 14px 24px rgba(0,0,0,0.22), 
    0 10px 12px rgba(0,0,0,0.22);
    max-height: 88vh;
}

.PantryTitle{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 4px;
}

.EmptyButton{
    border-radius: 22px;
    background-color: #2541B2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 50px;
    letter-spacing: 1px;
    border:none;
    outline: none;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.EmptyButton:hover{
    background-color: #878787;
}

.EmptyButton:active{
    background-color: #878787;
}

.EmptyButton:focus{
    border: none;
    outline: none;
}

.SearchBar{
    max-width: 20vw;
    align-self: center;
    margin-top: 18px;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    flex-direction: row;
    align-items: left;
}

.RemoveButton{
    border-radius: 11px;
    background-color: #2541B2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    letter-spacing: 1px;
    border:none;
    outline: none;
    margin-bottom:1px;
    margin-right: 3px;
}

.RemoveButton:hover{
    background-color: #878787;
}

.RemoveButton:active{
    background-color: #878787;
}

.RemoveButton:focus{
    border:none;
    outline: none;
}

.message{
    text-align: center;
    padding-bottom: 1vh;
}


.RecipeTitle{
    margin-right:0.5vw;
    margin-left:0.5vw;
    width: 25vw;
}

.RemoveRecipeButton{
    border-radius: 11px;
    background-color: #2541B2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    letter-spacing: 1px;
    border:none;
    outline: none;
    margin-bottom:3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;
    width:2vw;
}

.FavRecipeTitle{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 4px;
}

.RemoveRecipeButton:hover{
    background-color:#878787;
}

.RemoveRecipeButton:active{
    background-color: #878787;
}

.RemoveRecipeButton:focus{
    border:none;
    outline: none;
}

.NutritionalInfo{
    float: right;
    width: 10vw;
}

.FavRecipe{
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    width: 45vw;
    border-color: #878787;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 2px;
}

.Favorites{
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 1vw; 
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 24px rgba(0,0,0,0.22), 
    0 10px 12px rgba(0,0,0,0.22);
    max-height: 88vh;
    overflow-y: auto;
}

.ViewRecipeButton{
    border-radius: 11px;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    margin-bottom: 3px;
    margin-right: 3px;
    width: 3vw;
    background-color: #2541B2;
    margin-top: 3px;
}

.ViewRecipeButton:hover{
    background-color: #8787;
}

.ViewRecipeButton:active{
    background-color: #8787;
}

.ViewRecipeButton:focus{
    border: none;
    outline: none;
}

.arrow{
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.MoreButton{
    border-radius: 22px;
    background-color: #2541B2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 40px;
    letter-spacing: 1px;
    border: none;
    margin-top: 18px;
    margin-bottom: 5px;
    outline: none;
}

.MoreButton:hover{
    background-color: #8787;
}

.MoreButton:active{
    background-color: #8787;
}

.MoreButton:focus{
    border: none;
    outline: none;
}

.Message{
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}


.Items{
    border: solid;
    border-color: #878787;
    margin: 5px;
    border-radius: 10px;
    border-width: 4px;
    overflow-y: auto;
    width: 94%;
}

.List{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    padding: 0;
    border: none;
    border-width: 2px;
    border-color: #2541B2;
}

.UpdateButton{
    border-radius: 20px;
    background-color: #2541B2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 40px;
    letter-spacing: 1px;
    border:none;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: none;
    margin-left: 5px;
}

.UpdateButton:hover{
    background-color: #8787;
}

.UpdateButton:active{
    background-color: #8787;
}

.UpdateButton:focus{
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amountInput{
    max-width: 3vw;
    margin: 0;
    margin-right: 8px;
}

.AddIngredients{
    border: solid;
    border-color: #878787;
    border-width: 4px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 96%;
}

.RecipeSelector{
    max-width: 18vw;
    text-overflow: ellipsis;
    margin-left: 4px;
}

.UpdateHeader{
    width: 100%;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

select{
    border: none;
}

.SearchResults{
    max-height: 20vh;
    overflow-y: auto;
}