@import url('https://fonts.googleapis.com/css?family=Roboto:400,800');

body{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
    background-image: url("./../assets/pattern.PNG");
    background-size: cover;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	align-items: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.Pantry{
	background-color: #FFFFFF;
    border-radius: 10px;
  	box-shadow: 0 14px 24px rgba(0,0,0,0.22), 
			0 10px 12px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 40vw;
	max-width: 100%;
    height: 90vh;
	left: -70%;
}

.EmptyButton{
    border-radius: 22px;
	background-color: #2541B2;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 50px;
	letter-spacing: 1px;
	border:none;
	outline: none;
	margin-bottom:10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.EmptyButton:hover{
	background-color:#878787;
}

.EmptyButton:active{
	background-color: #878787;
}

.EmptyButton:focus{
	border:none;
	outline: none;
}

input {
	background-color: #FFFFFF;
	border: none;
    border-bottom: 3px solid #050505;
	padding: 4px 15px;
	margin: 10px 10px;
	width: 100%;
}

.Search{
	background-color: #878787;
}

h1 {
	font-weight: bold;
	margin-top: 5px;
	text-align: center;
}

.Items {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	text-align: center;
}

.message {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	text-align: center;
}